# Default values for ocwa.
global:
  jwtSecret: "ssh this is a secret"

#Frontend configuration
ocwa-frontend:
  replicaCount: 1

  image:
    repository: bcgovimages/ocwa_frontend
    tag: latest
    pullPolicy: Always

  service:
    type: ClusterIP
    port: 80

  ingress:
    enabled: false
    annotations:
      kubernetes.io/ingress.class: nginx
    path: /
    hosts:
      - name: chart-example.local
        service: ocwa-ocwa-frontend
        port: 80
    tls: []

  port: 8000
  logLevel: error

  host: "serverHostedOnHere"

  cookieSecret: "COOKIE_SECRET_HERE"
  forumApiHost: "ocwa-forum-api.ocwa"
  forumSocket: "ocwa-forum-api.ocwa:3001"
  requestApiHost: "ocwa-request-api.ocwa"
  filesApiHost: "ocwa-storage-api.ocwa"
  auth:
    authorizationEndpoint: "openid.auth.endpoint"
    callbackURL: "chart-example.local/auth"
    clientID: "outputchecker"
    clientSecret: "CLIENT_SECRET_HERE"
    issuer: "openid.auth.issuer"
    scope: "openid offline_access"
    tokenEndpoint: "openid.auth.tokenEndpoint"
    userInfoURL: "openid.userinfo.url"
  user:
    idField: Email


  resources: {}

  nodeSelector: {}

  tolerations: []

  affinity: {}


#Forum Api configuration
forum-api:
  replicaCount: 1

  image:
    repository: bcgovimages/ocwa_forum_api
    tag: latest
    pullPolicy: Always

  service:
    type: ClusterIP
    port: 80

  wsService:
    type: ClusterIP
    websocketPort: 3001

  ingress:
    enabled: false
    annotations:
      kubernetes.io/ingress.class: nginx
      nginx.org/websocket-services: ocwa-forum-api-ws
    path: /
    hosts:
      - name: chart-example.local
        service: ocwa-forum-api-ws
        port: 3001
    tls: []

  apiPort: 3000
  wsPort: 3001
  logLevel: error
  database:
    host: ocwa-forum-api-mongo.ocwa
    username: forumApi
    password: password
    dbName: forumApi

  defaultAccessIsGroup: true
  requiredRoleToCreateTopic: "exporter"
  user:
    idField: Email
    emailField: Email
    givenNameField: GivenName
    surNameField: Surname
    groupField: Groups

  createDatabase: true
  storageClassName: default
  dbPod:
    persistence: /data/db
    adminEnv: MONGO_INITDB_ROOT_USERNAME
    admin: root
    passEnv: MONGO_INITDB_ROOT_PASSWORD
    pass: root
    dbEnv: MONGO_INITDB_DATABASE
    addAdminPassEnv: false
    adminPassEnv: MONGODB_ADMIN_PASSWORD
    initDb: true

  mongoImage:
    repository: mongo
    tag: 4.1

  resources: {}

  nodeSelector: {}

  tolerations: []

  affinity: {}


#Policy Api configuration
policy-api:
  replicaCount: 1

  image:
    repository: bcgovimages/ocwa_policy_api
    tag: latest
    pullPolicy: Always

  service:
    type: ClusterIP
    port: 80

  ingress:
    enabled: false
    annotations: {}
    path: /
    hosts:
      - chart-example.local
    tls: []

  apiPort: 3004
  logLevel: error
  database:
    host: ocwa-forum-api-mongo.ocwa
    port: 27017
    username: forumApi
    password: password
    dbName: forumApi

  apiSecret: "ssh this is an api secret"
  jwtAudience: "http://localhost"
  jwt_access_group": "admin"
  jwt_group: "Groups"
  user:
    idField: Email
 
  createDatabase: false


  resources: {}

  nodeSelector: {}

  tolerations: []

  affinity: {}


#Request Api configuration
request-api:
  replicaCount: 1

  image:
    repository: bcgovimages/ocwa_request_api
    tag: latest
    pullPolicy: Always

  service:
    type: ClusterIP
    port: 80

  ingress:
    enabled: false
    annotations: {}
    path: /
    hosts:
      - chart-example.local
    tls: []

  apiPort: 3002
  logLevel: error
  database:
    host: ocwa-forum-api-mongo.ocwa
    username: forumApi
    password: password
    dbName: forumApi

  createRole: "exporter"
  ocGroup: "oc"
  allowDeny: false

  user:
    idField: Email
    emailField: Email
    givenNameField: GivenName
    surNameField: Surname
    groupField: Groups

  forumApi: http://ocwa-forum-api.ocwa
  forumApiSecret: none

  storageUri: ocwa-storage-api.ocwa
  storagePort: 9000
  storageKey: myKey
  storageSecret: mySecret
  storageUseSSL: false
  storageWarnSize: 1025
  storageMaxSize: 10000000
  storageBucket: data

  autoApprove: false

  validationApi: http://ocwa-validation-api.ocwa
  validationApiSecret: validateApiSecret

  createDatabase: false


  resources: {}

  nodeSelector: {}

  tolerations: []

  affinity: {}

##Storage Api
storage-api:
  replicaCount: 1

  access_key: key
  access_secret: s3secretkey

  image:
    pullPolicy: Always

  tus:
    image: h3brandon/tusd_py3
    tag: latest
    bucket: bucket
    region: us-east-1 #likely irrelevant
    jwtHook: true

  jwtAud: "foo"

  minio:
    image: minio/minio
    tag: latest
    server: true
    serverPath: "/data"
    proto: http

  service:
    type: ClusterIP
    tusPort: 80
    minioPort: 9000

  ingress:
    enabled: false
    annotations:
      kubernetes.io/ingress.class: nginx
    path: /
    hosts:
      - name: chart-example.local
        service: ocwa-storage-api
        port: 80
    tls: []


  resources: {}
  nodeSelector: {}
  tolerations: []
  affinity: {}



#Validate Api
validate-api:
  replicaCount: 1

  image:
    repository: bcgovimages/ocwa_validate_api
    tag: latest
    pullPolicy: Always

  service:
    type: ClusterIP
    port: 80

  ingress:
    enabled: false
    annotations: {}
    path: /
    hosts:
      - chart-example.local
    tls: []

  apiPort: 3003
  logLevel: error
  database:
    host: ocwa-forum-api-mongo.ocwa
    port: 27017
    username: forumApi
    password: password
    dbName: forumApi

  storage:
    host: ocwa-storage-api.ocwa:9000
    bucket: data
    key: key
    secret: s3secretkey

  policyApi: ocwa-policy-api.ocwa


  apiSecret: "ssh this is a api secret"
  user:
    idField: Email

  createDatabase: false


  resources: {}

  nodeSelector: {}

  tolerations: []

  affinity: {}
