{
  "extends": [
    "airbnb",
    "prettier",
    "plugin:jest/recommended",
    "plugin:import/errors",
    "plugin:import/warnings"
  ],
  "plugins": ["import", "jest"],
  "env": {
    "browser": true,
    "node": true
  },
  "globals": {
    "__DEV__": true,
    "FILES_API_HOST": true,
    "SOCKET_HOST": true,
    "REQUEST_SOCKET_HOST": true,
    "VERSION": true,
    "COMMIT": true,
    "ID_FIELD": true,
    "EXPORTER_GROUP": true,
    "OC_GROUP": true,
    "REPORTS_GROUP": true,
    "DATA_EXPORT_REQUEST_FORM": true,
    "DATA_IMPORT_REQUEST_FORM": true,
    "CODE_EXPORT_REQUEST_FORM": true,
    "CODE_IMPORT_REQUEST_FORM": true,
    "EXPORTER_MODE": true,
    "CODE_EXPORT_ENABLED": true,
    "REPOSITORY_HOST": true,
    "ZONE": true,
    "HELP_URL": true,
    "HELP": true
  },
  "parser": "babel-eslint",
  "rules": {
    "no-param-reassign": [
      "error",
      { "props": true, "ignorePropertyModificationsFor": ["socket"] }
    ],
    "import/no-extraneous-dependencies": 0,
    "no-underscore-dangle": ["error", { "allow": ["_id", "_e"] }],
    "react/jsx-one-expression-per-line": 0
  },
  "settings": {
    "import/resolver": {
      "webpack": {
        "config": "webpack.common.js"
      }
    }
  }
}
