dist: trusty
sudo: required
language: python

services:
- docker

addons:
  sonarcloud:
    organization: "ajc_bcgov"
    token:
      secure: yoqO9/QRJlT4mcpgQ4RMSg6h97PRnql70EVCcPaBr6nGNaxSmea8K1AxdqFZcC5PMrj+i4oRFrIQIEmOPeJAzh+5wvygXhwsavXR2S0LcTcScXZQQ8ZWXw9exYl5ELt3Ee6BUF4TIGnR3iztp6VGm9mv992Pi7NqYwdIN9z1rVodb/rH3vlBRzxIH6p+eo4cs/rpUatFNDjRnCVvHxDWy2reC43r3Vf61jGR3FFALcah/PrIUDVemY9wqbdqA78HGB97o5UU6Jgwk2qmvUXTxJcyN+7dSi0bhr8SHEGN1TTr7TmOOxFIKy+fPs9krCF8Ll4CruAXu1YLaTRD6Ilxb4U5yUJgjANnsYbR7klD/DC4pwRx1L90cCVbgsNRzrsq+Qvn57bdSoyHGFCSWqQdkW6EG9xcqogMP6y9/DBcgb4SYIMNLjaoqSgunSmDFTFgidHBTcLN6e4mvM89FRDY64i+DINp9gginqHak/LxhNct6LTREx8bcoOA4J28eHY02Cwrtu2pful7uOonZD49XrGW+OfOAQY2c1b91hNJUK+tWPh0B/0CgWyKNize3WclV3pBedFDYzbzeni3TkqoN7Na22xQTl95mrV9vZ7VQpIft0Jlf+OFS+I8s3G2W/Wp/Rhk9tXfxcEa6yvDwxFMv3QsQrs7No3yTRNFw6U3QWs=

matrix:
  include:
    - name: "Forum Api"
      stage: "APIs"
      language: node_js
      node_js:
       - "node"
      cache: npm
      addons:
       apt:
         sources:
           - ubuntu-toolchain-r-test
         packages:
           - g++-4.8
      before_script:
        - cd /home/travis/build/bcgov/OCWA/microservices/forumApi
        - cp config/test.json.example config/test.json
        - cp config/default.json.example config/default.json
        - wget http://fastdl.mongodb.org/linux/mongodb-linux-x86_64-${MONGODB}.tgz
        - tar xzf mongodb-linux-x86_64-${MONGODB}.tgz
        - mkdir ${PWD}/mongodb-linux-x86_64-${MONGODB}/data
        - ${PWD}/mongodb-linux-x86_64-${MONGODB}/bin/mongod --dbpath ${PWD}/mongodb-linux-x86_64-${MONGODB}/data --logpath ${PWD}/mongodb-linux-x86_64-${MONGODB}/mongodb.log --fork
        - ${PWD}/mongodb-linux-x86_64-${MONGODB}/bin/mongo forumDb --eval 'db.createUser({user:"forumUser", pwd:"forumPass", roles:["readWrite"]});'
        - wget -q ${HELM_URL}/${HELM_TGZ}
        - tar xzfv ${HELM_TGZ}
        - PATH=`pwd`/linux-amd64/:$PATH
        - helm init --client-only
        # Installig pip deps
        - sudo pip install yamllint=="${YAMLLINT_VERSION}"
        - cd /home/travis/build/bcgov/OCWA
        - wget -q ${SONAR_URL}${SONAR_APP}-cli-${SONAR_VERSION}.zip
        - unzip ${SONAR_APP}-cli-${SONAR_VERSION}.zip
        - PATH=`pwd`/${SONAR_APP}-${SONAR_VERSION}/bin:$PATH


      before_install:
        - wget -q https://dl.bintray.com/jeremy-long/owasp/dependency-check-4.0.2-release.zip
        - unzip dependency-check-4.0.2-release.zip
        - PATH=`pwd`/dependency-check/bin:$PATH
        - ls -l `pwd`/dependency-check/bin
        - cd /home/travis/build/bcgov/OCWA/microservices/forumApi
        - npm install
        - dependency-check.sh

      script:
        - cd /home/travis/build/bcgov/OCWA/microservices/forumApi
        - npm test
        - helm lint helm/forum-api
        - bash docker_quayio_push
        - cd /home/travis/build/bcgov/OCWA
        - PATH=`pwd`/${SONAR_APP}-${SONAR_VERSION}/bin:$PATH
        - sonar-scanner -Dsonar.login=$SONAR_TOKEN -Dproject.settings=sonar-project.properties -Dsonar.projectKey=ocwa_forum_api -Dsonar.projectName="OCWA Forum API" -Dsonar.modules=forumApi


env:
  global:
  - HELM_URL=https://storage.googleapis.com/kubernetes-helm
  - HELM_TGZ=helm-v2.4.1-linux-amd64.tar.gz
  - TARGET_BR=gh-pages
  - REPO_DIR=/home/travis/build/kubenow/helm-charts
  - GH_URL=https://kubenow.github.io/helm-charts
  - YAMLLINT_VERSION=1.8.1
  - CXX=g++-4.8
  - MONGODB=4.1.1
  - KATALON_VERSION=5.10.1
  - TUSD_VERSION=0.11.0
  - SONAR_URL=https://binaries.sonarsource.com/Distribution/sonar-scanner-cli/
  - SONAR_APP=sonar-scanner
  - SONAR_VERSION=3.2.0.1227-linux
  - secure: TsBkt0h9c9CQ+ZnA4CAVlWxCoTRV4Bn7Z0y8XvR99NlnfrUhSGWzi78wJ6W8oAqOawqDk5jnG3qIKXaaO1ZaiT8n3YFLhtAQzh+gy1B96GOJd6Yjmep7AxiWgW+g0Nm+V0vkGA/dwuUjothmnvLcsqK2+hmrknvTI+oe6xrNrOv4GAx9j3NJVfmhJmhBtnI+p8uqgqtn7aqrZZqW/jhwh10taRaIvvsMZ4FEZy8M9JI6cRfakQT656U9KGbXsC7XdnEf+G/N2qOq/MWucByBo98jCnuL5JvGzgZCSkywlShK8kPUuIREGfLv1RuSOOwlz95AA700Bf/SKGmqu58wAp8XOKWAtMTpf2o7WFXpb/Ghy6ysk5AGO6RSsFOTEh2EAdF42ExRy+N8mqDYdr9Vj+qWeVHXVR9vjtjbCLeHxl16sO0K/BzQ3gjCYLXQEC6mH3xfu6kDvQvdq20fKpXPeLvX+HI0ALokkL7RFaqjcEu8R+9zZAUIqCCTKs0Z3/CmrUd2H7MD7j30gFuR2RynSpGb8l476szAuLv1wk6L+gc4g+uG5pFPsBYaBp9mNJMHrOcBQfSFY9T4n/sY4z+2Bo7qC8g8JuLOtVsVcjZ0Ut0r0xASvEg87jlgdHy/NaAySmuZclheuqsqVqsKQOx38AgOSg9N0gX2i2jnq2ZkS+4=
  - secure: pVjFIgT/w+sZPIP9g2sSP7OWlfnspGbQaCsQesDUniVcEIJGRTxURuA4RfeJeG8D6zAggsVRiAgcpb8/IU0gx32vdSOE7f10rnWYyf/YzpX9gEMsacEAi6QeCutZBSxz0dbUx2tVNP4qnAMBw/F+iG9msxVrJDIYr1M/+E1KHpknImN/ZaM4Yx34od+efpBudrb5rAtsUTUS8Jfdo4cnQBMFGO/nVb/VD3AATIZ4+tMeduVG0W2bORcuOR+iPXMiAHRFdaTLXR23oDnJZSPMWOAJC+hhHM6D1E5armU+utmfE58q5d64aeffgqcwZnVMHkhkJ6aNCnNojYJ/dKZOAKLklDO3IVd6k/TnRvVreZw68OlLj71b668ArknoIBvgwPZ0UOwPguVzNFGT+WBNlNW1uePmtO2sc5HO23fnK8P9HMqx09Q/HwWpEEOOvUpR4vpixPETRmZHA2lsccyr4lY5gExVqSHBslXHxz00So0x1lXDADU4f1Ma54h2P1++b3Dk0tjLlRCXeiiuV4i89C8Vz37ZplbYf1Aw60504o4LZC9rGJK5uf4OMm/IZF5DjnbH87MFtwKxKNnSL5KqCRGzksdt2R23rcRvAxp9o1YP4qC7POQ5ocr3By/ciNwzApFa2d7KfSDojjIgIU/oK9mKNk5tyQAeQb+CRylkeNk=
  #SONAR_TOKEN
  - secure: k0DUE5CZbZ/DLg1U8C6OBhAlmSzJtXdaC3tF4yf+Y8fLvHLdKkxxe48t53ZzapXL1yDLDu6exjI30SRau2PC09LizDzzOJOLquR/+BLyHEZo+2cHrQd8pIB3pTTqKbAQlxzzf/A3iipcvTqOgitVp+tYRahLINL0aUojc/BkyLPx3+sGD09zE4S++90e4DcraQxoB5JBIRJgzNf3nWgJyZV8wB15VQCCKA9jA2U7/FscU5gtpKDWb6gfml9LfIN/3M3ose/0dATt3AynADPqFWjHNkO3J6GzOmSqnP8OHeTgNcU7STpue2/VosB0gqT2bUDH6JK+GAeJBtsO+c2Z+v0KHLFQ7r1Uqo+fKpP5cq0j0+0czE4bXVjjqdz7mi/zex4PqWgVhVe/jW03stiOPGh34waFN7CzpA3dp3uwK1UN2uxdvAmp6OKfHoCo0FSrAJzKU6wJh980L7qpHYoyZOsyj8nJgRzGunHDWuiNRFb/aRI9DK3Ud1LrHJl0tsYs0YEu35MTGrtwbFfw04D+zifFsfZsyxnZsc9anpLSb6IrMOzH9PXSwTSajGDP2Q9rLylEPHxj5RDh5mPoBvmpv4wmSiM/K7M2k/lgFSOH34MX5bTkj4a+LtYsQngeMd1exlBxZySgaMyO9pAUQke0twMibYBac/z2s9s9jNJ7SKY=
  #QUAYIO_USERNAME
  - secure: e/Jtl6XJYUKfjM2oQXOkPj8FoavYULu59PgDG2h4hUyhtsMQOIHV8F9VBQ6mdmQE5pLPueUsscMvYGgrGEXk6DzjIeNad/Gadw4ImtPAH0iAMZlhFBDSJLRsjtVF0HaeJFNAyk8cU0PHvPOyegiw2tzJJ3X9od5nB9j0d0XSDd0erMDcmChu0o7lbsPWnLwr+u4aiHXOG2v6m4FbMw8i7GePG5S7Sb1pLh6VHOIPQN9OfgvdIsLM425KzTSCoR86W5K/cVF99jOTSCcD0Vo/eTaSKdmVRZt3RmLq+uu9C2KLbYGMrTWt09o5Tzq6QG7OIsE3fwpr10hPCFeTLaZ2Z2DbPuihpI3Zl+JYWHEYhVws0XeltTpy0mcf1QQypnrBka8Ijj5M/r6n0mJE0kwu9GLMqWNkhmaBDr5ft/6hd6IpGF5b1oYgxM1tYurAQ/+H+DtKKyUr2IR6+jDtZUWX7q8azGx0Mwa6eUuniGHnCYxJ93pjaPSXSI9eOMWWfwd3EpunZuunpQb4Mi+3mhW6VsZ1wpoKGC0RdkuTuKQyDThlSBm82NFtVHtxoAJRdp11Ns92DBk6eqiIu+ZsSmO7Lwg6du3Rh7lqSp0W1uORw0dLLVw3Ctd7rJBeOsrAZ/O6qGYfOV8GlCLpoqlzFWPe7Kj1IfN+/MeF43RWrIHky7A=
  #QUAYIO_PASSWORD
  - secure: pOQDnzVMvIWOhqlBPIGAZ9WV7UK5Zsb+1s4ywRrp0a30ijaMhQxMqPxme65woKGgfWKC0zmNRWhOeqMzAC/EzqQKBC3pbzZQzPO+aKVtZMJuhaNApA9wcmUmu6Viuyjte5+ydZxphIWu26hEPq2cKOhq7fQ2QUv0kOmPIt7XFgQXylTUfyzOZJtAO5qWMyM3a8h+dGiWan4UE+/RXEmptyENTY2cXpQocqtyM8zKdSMx4XmDQcLXi82Mhqyf+d0c50bCh/O4iZ95OBiUkdxXTbe+tRzet1sefox7+gCaWw5ii25r/ixcUBVg17FzmwXnGO8PDMU/06lFedGR6fQ7rUdylwYnrjTA7MgurtmpHwHaQDYp6hnL04JkhljT+NHITC379Mfyei53q871oq1/RvdFGXaFHZNojVpMg7LD1XmYOb79Xm1x+4fU1YeppRIgj50vz5Hi3n1fc9zz9jf6odWFKvK9feesdPJnaoQRbMpAoSq+c14qUSclVugcEqu1uSZJ347wE7tSaQ5jh1JqanXFdCprPRS03e/qB4aO6e4UT1ZHg1Q5sd+9PLlkwTa2dJZMBN3QKZUTAVROWkXPqRsUcPtsGguIIxIWT2S3jfUBRbLV2migy62b51F7Xnh3sMQ+a0IW8/V+srAKtZowkE6SL2P4577qqqYoJth04L0=
