.container {
  width: 100%;
  max-width: 1200px;
  margin: 0 auto;
}

.header {
  margin-top: 20px;
}

.projectsTable {
  margin: 20px 0 50px;
}

.filters {
  padding: 10px 0;
  margin: 10px 0;
  display: flex;
  align-items: center;
  justify-content: space-between;
  border-top: 2px solid #DFE1E6;
  border-bottom: 2px solid #DFE1E6;
}

.dateRange {
  width: 35%;
  display: flex;
  align-items: center;
}

.dateRange div[role="presentation"] {
  width: calc(50% - 15px);
}

.dateRangeDivider {
  width: 30px;
  text-align: center;
}

.empty {
  width: 100%;
  min-height: 200px;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
}
