
mongodb = {
    username = "appuser"
}

postgres = {
    username = "kcuser"
}

keycloak = {
    username = "kcadmin"
}

ocwaHostname = "ocwa.example.demo"
ocwaHost = "https://ocwa.example.demo"

ocwaDLHost = "https://ocwadl.example.demo"
ocwaDLHostname = "ocwadl.example.demo"

requestWebSocketHost = "wss://ocwa.example.demo/reqsocket"
requestDLWebSocketHost = "wss://ocwadl.example.demo/reqsocket"

ocwaWebSocketHost = "wss://ocwa.example.demo/socket"

authHostname = "auth.example.demo"
authHost = "https://auth.example.demo"

sslCertificate = "/ssl/example.crt"
sslCertificateKey = "/ssl/example.key"

images = {
    owner = "bcgovimages"
    request_api = ":edge"
    validate_api = ":edge"
    project_api = ":edge"
    forum_api = ":edge"
    formio = "h3brandon/formio:latest"
    policy_api = ":edge"
    frontend = ":edge"
    minio = ":latest"
    tusd = ":latest"
}
