hostRootPath = "/work/tmp/ocwa"

mongodb = {
    username = "appuser"
}

postgres = {
    username = "kcuser"
}

keycloak = {
    username = "kcadmin"
}

ocwaHost = "https://ocwa.example.com"

ocwaWebSocketHost = "wss://ocwa.example.com/socket"

authHost = "https://auth.example.com"

sslCertificate = "/ssl/cert.pem"
sslCertificateKey = "/ssl/key.pem"

images = {
    request_api = ":latest"
}
