doctype html
html
  head
    meta(charset="utf-8")
    meta(name="viewport" content="width=device-width, initial-scale=1")
    title= title
    if isDevelopment
      link(rel="stylesheet" href="/main.css")
    else
      != stylesheetTag("main.css")
  body
    #main
  script.
    window.FILES_API_HOST = !{JSON.stringify(filesApiHost)};
    window.SOCKET_HOST = !{JSON.stringify(socketHost)};

  if isDevelopment
    script(src="/main.js")
  else
    != javascriptTag("main.js")
