ply==3.11
munch==2.3.2
boto3==1.9.205
flask==2.1.0
flask-compress==1.4.0
gevent==1.4.0
greenlet==0.4.15
pyyaml==5.1.2
mongoengine==0.24.2
pyhcl==0.3.12
requests==2.22.0
mocker==1.1.1
pytest==5.0.1
pytest-cov==2.7.1
pytest-mock==1.10.4
mongomock==3.17.0
pycodestyle==2.5.0
pylint==2.3.1
flask-jwt-simple==0.0.3