.container {
  flex: 1;
  display: flex;
  background-color: #f5f5f5;
}

.nav {
  width: 370px;
  overflow-y: auto;
  background-color: #fff;
  border-right: 1px solid #dee2e6;
}

.request {
  display: flex;
  flex-direction: column;
  flex: 1;
}

.header {
  position: relative;
  padding: 20px 20px 0;
  border-bottom: 1px solid #dee2e6;
}

.main {
  flex: 1;
  overflow-y: auto;
  background-color: #fff;
}

.main > div {
  margin: 20px;
}
