{
  "apiPort": 3004,

  "database": {
    "host": "localhost",
    "port": 27017,
    "username": "forumUser",
    "password": "forumPass",
    "dbName": "forumDb"
  },

  "apiSecret": "MySecret",
  "jwtSecret": "jwtSecret",
  "jwtAudience": "http://localhost",
  "jwt_access_group": "admin",
  "jwt_group": "Groups",

  "testJWT": "eyJ0eXAiOiJKV1QiLCJhbGciOiJIUzI1NiJ9.eyJpc3MiOiJPbmxpbmUgSldUIEJ1aWxkZXIiLCJpYXQiOjE1Mzk4ODI5OTksImV4cCI6OTk5OTk5OTk5OSwiYXVkIjoiaHR0cDovL2xvY2FsaG9zdCIsInN1YiI6Impyb2NrZXRAZXhhbXBsZS5jb20iLCJHaXZlbk5hbWUiOiJKb2hubnkiLCJTdXJuYW1lIjoiUm9ja2V0IiwiRW1haWwiOiJqcm9ja2V0QGV4YW1wbGUuY29tIiwiR3JvdXBzIjpbIk1hbmFnZXIiLCJQcm9qZWN0IEFkbWluaXN0cmF0b3IiLCJhZG1pbiJdfQ.CVft9AnoNUZi94TaboPmC5n0s_4mrKCC0HK39P1xfjc",

  "user":{
      "idField": "Email"
    }
}
