{
  "apiPort": 3004,

  "database": {
    "host": "localhost",
    "port": 27017,
    "username": "forumUser",
    "password": "forumPass",
    "dbName": "forumDB"
  },

  "apiSecret": "MySecret",
  "jwtSecret": "jwtSecret",
  "jwtAudience": "http://localhost",
  "jwt_access_group": "admin",
  "jwt_group": "Groups",

  "user":{
      "idField": "Email"
    }
}
