{
  "apiPort": 3005,
  "logLevel": "verbose",
  "morganLogType": "dev",

  "database": {
    "host": "localhost",
    "username": "user",
    "password": "pwd",
    "dbName": "ocwa"
  },

  "jwtSecret": "superSecretHere",
  "ocwaUrl": "http://localhost:8000/",

  "adminGroup": "/admin",
  "outputCheckerGroup": "/oc",

  "user": {
    "idField": "preferred_username",
    "emailField": "email",
    "givenNameField": "given_name",
    "surNameField": "family_name",
    "groupField": "groups"
  }
}
