{
  "logLevel": "silent",
  "testJWT": "eyJ0eXAiOiJKV1QiLCJhbGciOiJIUzI1NiJ9.eyJpc3MiOiJPbmxpbmUgSldUIEJ1aWxkZXIiLCJpYXQiOjE1NDA5MTUzMzAsImV4cCI6MTYwMjQ1MTMzMCwiYXVkIjoid3d3LmV4YW1wbGUuY29tIiwic3ViIjoianJvY2tldEBleGFtcGxlLmNvbSIsInByZWZlcnJlZF91c2VybmFtZSI6Impyb2NrZXQiLCJnaXZlbl9uYW1lIjoiSm9obm55IiwiZmFtaWx5X25hbWUiOiJSb2NrZXQiLCJlbWFpbCI6Impyb2NrZXRAZXhhbXBsZS5jb20iLCJncm91cHMiOlsiZXhwb3J0ZXIiLCJwcm9qZWN0X2EiLCJvYyIsImFkbWluIl19.jClkmseDve9S9oZu0RxMGSWTcDdkt-2g0yPbwnHHAzM",
  "database": {
    "host": "localhost",
    "username": "forumUser",
    "password": "forumPass",
    "dbName": "forumDb"
  }
}
