{
    "apiPort": 3002,
    "wsPort": 2998,
    "logLevel": "info",
    "morganLogType": "dev",

    "database": {
      "host": "localhost",
      "username": "dbUser",
      "password": "dbPass",
      "dbName": "dbName"
    },

    "forumApi": "http://localhost:3000",
    "validationApi": "http://localhost:3003",
    "validationApiSecret": "MySecret",

    "webhookSecret": "webhook_s3cr3t",

    "storageApi": {
        "uri": "localhost",
        "port": 9000,
        "key": "accesskey",
        "secret": "secretkey",
        "useSSL": false,
        "warnRequestBundlesize": 1024,
        "maxRequestBundlesize": 0,
        "bucket": "mybucket"
      },

    "jwtSecret": "jwtSecret",
    "ocwaUrl": "http://localhost:8000/",
    "ocwaImportUrl": "http://localhost:8000/",

    "email":{
      "enabled": false,
      "service": "smtp.gmail.com",
      "secure": true,
      "port": 465,
      "user": "ocwa@gmail.com",
      "pass": "ocwaPassword",
      "from": "ocwa@donotreply.com"
    },

    "emailOnInitialSubmit": [
      {
        "name": "Noone",
        "email": "noone@nowhere"
      }
    ],

   "gitops": {
      "enabled": false,
      "url": "http://gitops_simulator:2000",
      "secret": "s3cr3t"
    },

    "requiredRoleToCreateRequest": "exporter",
    "outputCheckerGroup": "oc",
    "reportsGroup": "reports",
    "allowDenyRequest": true,

    "projectApi": "http://localhost:2005/",
    "projectApiSecret": "apiKeySecret",

    "autoAccept": {
      "export": false,
      "import": false
    },

    "user":{
        "idField": "Email",
        "emailField": "Email",
        "givenNameField": "GivenName",
        "surNameField": "Surname",
        "groupField": "Groups"
  }
}