{
    "apiPort": 3002,
    "logLevel": "info",
    "morganLogType": "dev",

    "database": {
      "host": "localhost",
      "username": "dbUser",
      "password": "dbPass",
      "dbName": "dbName"
    },

    "forumApi": "http://localhost:3000",
    "validationApi": "http://localhost:3003",
    "validationApiSecret": "MySecret",

    "storageApi": {
        "uri": "localhost",
        "port": 9000,
        "key": "myKey",
        "secret": "mySecret",
        "useSSL": false,
        "warnRequestBundlesize": 1024,
        "maxRequestBundlesize": 0,
        "bucket": "mybucket"
      },

    "jwtSecret": "jwtSecret",

    "requiredRoleToCreateRequest": "exporter",
    "outputCheckerGroup": "oc",
    "allowDenyRequest": true,

    "autoAccept": false,

    "user":{
    "idField": "Email",
    "emailField": "Email",
    "givenNameField": "GivenName",
    "surNameField": "Surname",
    "groupField": "Groups"
  }
}