{

  "logLevel": "verbose",
  "testJWT": "eyJ0eXAiOiJKV1QiLCJhbGciOiJIUzI1NiJ9.eyJpc3MiOiJPbmxpbmUgSldUIEJ1aWxkZXIiLCJpYXQiOjE1NDA5MTUzMzAsImV4cCI6MTY3MjQ1MTMzMCwiYXVkIjoid3d3LmV4YW1wbGUuY29tIiwic3ViIjoianJvY2tldEBleGFtcGxlLmNvbSIsIkdpdmVuTmFtZSI6IkpvaG5ueSIsIlN1cm5hbWUiOiJSb2NrZXQiLCJFbWFpbCI6ImphbmVEb2VAZXhhbXBsZS5jb20iLCJHcm91cHMiOlsiZXhwb3J0ZXIiLCJwcm9qZWN0X2EiLCJvYyIsInJlcG9ydHMiXSwiem9uZSI6ImludGVybmFsIn0.MJQP1cdqw6-b6U8D3a8JZR64_wHzocotiC2DVqp0UKw",
  "testSupervisorExternalJWT": "eyJ0eXAiOiJKV1QiLCJhbGciOiJIUzI1NiJ9.eyJpc3MiOiJPbmxpbmUgSldUIEJ1aWxkZXIiLCJpYXQiOjE1NDA5MTUzMzAsImV4cCI6MTY3MjQ1MTMzMCwiYXVkIjoid3d3LmV4YW1wbGUuY29tIiwic3ViIjoianJvY2tldEBleGFtcGxlLmNvbSIsIkdpdmVuTmFtZSI6IkpvaG5ueSIsIlN1cm5hbWUiOiJSb2NrZXQiLCJFbWFpbCI6ImphbmVEb2VAZXhhbXBsZS5jb20iLCJHcm91cHMiOlsicmVwb3J0cyJdLCJ6b25lIjoiZXh0ZXJuYWwifQ.fhoIlrKZ05Uy58_D5p51JNAvu4aZ_ZQQP9-2zP_tUu0",
  "testSupervisorInternalJWT": "eyJ0eXAiOiJKV1QiLCJhbGciOiJIUzI1NiJ9.eyJpc3MiOiJPbmxpbmUgSldUIEJ1aWxkZXIiLCJpYXQiOjE1NDA5MTUzMzAsImV4cCI6MTY3MjQ1MTMzMCwiYXVkIjoid3d3LmV4YW1wbGUuY29tIiwic3ViIjoianJvY2tldEBleGFtcGxlLmNvbSIsIkdpdmVuTmFtZSI6IkpvaG5ueSIsIlN1cm5hbWUiOiJSb2NrZXQiLCJFbWFpbCI6ImphbmVEb2VAZXhhbXBsZS5jb20iLCJHcm91cHMiOlsicmVwb3J0cyJdLCJ6b25lIjoiaW50ZXJuYWwifQ.0V1S27iKwuO7Z5MPBlBPqZ9ZUr_6bI2MZfvkxruk40c",
  "testWebsocketJWT": "eyJ0eXAiOiJKV1QiLCJhbGciOiJIUzI1NiJ9.eyJpc3MiOiJPbmxpbmUgSldUIEJ1aWxkZXIiLCJpYXQiOjE1NDA5MTUzMzAsImV4cCI6MTY3NDQ2MTMzMCwiYXVkIjoid3d3LmV4YW1wbGUuY29tIiwic3ViIjoianJvY2tldEBleGFtcGxlLmNvbSIsInByZWZlcnJlZF91c2VybmFtZSI6Impyb2NrZXQiLCJnaXZlbl9uYW1lIjoiSm9obm55IiwiZmFtaWx5X25hbWUiOiJSb2NrZXQiLCJlbWFpbCI6ImphbmVEb2VAZXhhbXBsZS5jb20iLCJncm91cHMiOlsiL2V4cG9ydGVyIiwiL3Byb2plY3RfMSIsIi9wcm9qZWN0X2EiLCIvb2MiXSwiem9uZSI6ImludGVybmFsIn0.HTEyzY9__W2yyJBgczhFItx6hZ8DTZeOSXcnqK_IlNU",
  "database": {
    "host": "localhost",
    "username": "forumUser",
    "password": "forumPass",
    "dbName": "forumDb"
  }
}