.main {
  height: 100vh;
  width: 100vw;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  position: relative;
}

.container {
  flex: 1;
  overflow-y: auto;
}


.splashContainer {
  width: 100%;
  height: 100%;
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #fff;
  background-color: #036;
}

.splashContainer > div {
  max-width: 400px;
  text-align: center;
}
