.main {
  height: 100vh;
  width: 100vw;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  position: relative;
}

.container {
  flex: 1;
  overflow-y: auto;
}


.splashContainer {
  width: 100%;
  height: 100%;
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #036;
}

.splashContainer > div > * {
  color: #fff !important;
}

.splashContainer > div {
  max-width: 400px;
  text-align: center;
}

.aboutList {
  padding-left: 0;
}

.aboutList dt {
  font-weight: 700;
}

.aboutList dd {
  margin: 0 0 15px 0;
  font-family: Menlo, monospace;
}

.aboutLoading {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.aboutErrorText {
  text-align: center;
}

/* Project Selection */
.projectSelection {
  flex: 1;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #036;
}

.projects {
  width: 100%;
  max-width: 300px;
  padding: 10px;
  background: #fff;
  border-radius: 3px;
  box-shadow: 0 0 2px rgba(0, 0, 0, 0.5);
}

.projects h3 {
  margin-bottom: 10px;
}

.project {
  margin-bottom: 5px;
}
