.container {
  padding: 8px 20px;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: space-between;
  background: #003366;
  color: white;
}

.brand {
  display: flex;
  align-items: center;
  font-size: 24px;
  line-height: 1.5;
  color: inherit;
}

.brand:hover {
  text-decoration: none;
  opacity: 0.5;
  color: #fff;
}

.brand > span:first-child {
  margin-right: 15px;
}

.brand small {
  margin: 11px 0 0 10px;
  font-size: 11px;
  color: rgba(255, 255, 255, 0.25);
}

.actions {
  display: flex;
  align-items: center;
}

.actions > div {
  display: inherit;
  margin-left: 10px;
}
