{

  "apiPort": 3000,
  "wsPort": 2999,
  "logLevel": "info",
  "morganLogType": "dev",

  "database": {
    "host": "localhost",
    "username": "commentApi",
    "password": "dev",
    "dbName": "commentApi"
  },

  "jwtSecret": "superSecretHere",

  "defaultAccessIsGroup": true,
  "requiredRoleToCreateTopic": "exporter",
  "ignoreGroupsFromConsideration": [],

  "user":{
    "idField": "Email",
    "emailField": "Email",
    "givenNameField": "GivenName",
    "surNameField": "Surname",
    "groupField": "Groups"
  },

  "email":{
    "enabled": false,
    "service": "smtp.gmail.com",
    "secure": true,
    "port": 465,
    "user": "forum@gmail.com",
    "pass": "forumPassword",
    "from": "forum@donotreply.com",
    "subject": "Forum Api Topic"
  }

}
