{

  "apiPort": 3000,
  "wsPort": 3001,
  "logLevel": "info",
  "morganLogType": "dev",

  "database": {
    "host": "localhost",
    "username": "commentApi",
    "password": "dev",
    "dbName": "commentApi"
  },

  "jwtSecret": "superSecretHere",

  "defaultAccessIsGroup": true,
  "requiredRoleToCreateTopic": "/exporter",
  "ignoreGroupsFromConsideration": [],

  "user":{
    "idField": "Email",
    "emailField": "Email",
    "givenNameField": "GivenName",
    "surNameField": "Surname",
    "groupField": "Groups"
  }

}
