ply==3.10
munch==2.3.2
http==0.2
request=1.0.2
boto3==1.9.12
flask==1.0.2
flask-compress==1.4.0
gevent==1.3.5
pyyaml==3.13
mongoengine==0.15.3
pyhcl==0.3.10
requests==2.19.1
mocker==1.1.1
pytest==3.1.3
pytest-cov==2.5.1
pytest-mock==1.10.0
mongomock==3.12.0
pycodestyle==2.4.0
pylint==1.7.2