apiVersion: v1
kind: Secret
metadata:
  name: {{ template "ocwaPolicyApi.fullname" . }}-secrets
  labels:
    app: {{ template "ocwaPolicyApi.name" . }}
    chart: {{ template "ocwaPolicyApi.chart" . }}
    release: {{ .Release.Name }}
    heritage: {{ .Release.Service }}
type: Opaque
data:
  apiSecret: {{ .Values.apiSecret | b64enc }}
  dbPassword: {{ .Values.database.password | b64enc }}