apiVersion: v1
kind: Secret
metadata:
  name: {{ template "ocwaRequestApi.fullname" . }}-secrets
  labels:
    app: {{ template "ocwaRequestApi.name" . }}
    chart: {{ template "ocwaRequestApi.chart" . }}
    release: {{ .Release.Name }}
    heritage: {{ .Release.Service }}
type: Opaque
data:
  dbPassword: {{ .Values.database.password | b64enc }}
  jwtSecret: {{ .Values.global.jwtSecret | b64enc }}
  forumApiSecret: {{ .Values.forumApiSecret | b64enc }}
  validationApiSecret: {{ .Values.validationApiSecret | b64enc }}
  storageSecret: {{ .Values.storageSecret | b64enc }}
  emailPassword: {{ .Values.emailPassword | b64enc }}