.container > div {
  border-bottom: none !important;
}

.container th {
  font-size: 13px !important;
}

.startCell {
  padding-left: 10px;
}

.empty {
  margin: 20px 0;
}

.empty p {
  margin-top: 0;
}

.statusRow {
  display: flex;
  align-items: center;
}

.statusRow > span:first-child {
  margin-right: 10px;
}

.removeButton {
  display: flex;
  align-items: center;
  justify-content: flex-end;
}
